@mixin media-max-width($size) {
  @media (max-width: $size) { @content; }
}

@mixin opacity($percentage) {
	-moz-opacity: $percentage;
	-khtml-opacity: $percentage;
	opacity: $percentage;
}

@mixin border-radius($size) {
	-moz-border-radius: $size; 
	-webkit-border-radius: $size; 
	-khtml-border-radius: $size; 
	border-radius: $size; 
}

@mixin box-shadow($x, $y, $size, $color) {
	-webkit-box-shadow: $x $y $size $color;
    -moz-box-shadow: $x $y $size $color;
    box-shadow: $x $y $size $color;
}

@mixin transition($event, $timeIn, $effect, $timeOut) {
    -webkit-transition: $event $timeIn $effect $timeOut;
    -moz-transition: $event $timeIn $effect $timeOut;
    -o-transition: $event $timeIn $effect $timeOut;
    transition: $event $timeIn $effect $timeOut;
}

@mixin media-min-width($size) {
    @media (min-width: $size) { @content; }
}

.header-nav {
	@include media-max-width(992px) {
		display: none;
	}
}

.aside-nav {
	position: fixed;
	top: 0px;
	left: -280px;
	bottom: 0px;
	background-color: #222;
	width: 280px;
	float: none;
	z-index: 100;
    background-color: #F7F7F7;
    overflow: auto;
    margin: 0px;

    &.transition {
    	@include transition(all, 0.2s, ease, 0s);
    }

	&.opened {

		left: 0px!important;
		@include media-min-width(992px) {
			left: -280px!important;
		}
	}

	@include opacity(0.95);

	.navbar-header {
		width: 100%;
	}

	.open > .dropdown-menu {
	    width: 100%;
	    border: 0px;
	    padding-left: 10px;
	    position: relative;
	    @include box-shadow(0, 0, 0, #fff);

	    a {
	    	padding: 10px 15px;
	    }
	}

	.dropdown-submenu.open > .dropdown-menu {
	    width: 100%;
	    border: 0px;
	    padding-left: 10px;
	    position: relative;
	    top: auto; 
	    left: auto;
	    margin-top: 0px;
	    margin-left: 0px;
	}
}

.navbar-toggle-container {

	position: fixed;
	padding-left: 20px;
	width: 100%;


	.navbar-toggle-button {
		@include border-radius(3px);
		@include opacity(0.82);
		background-color: #222;
		color: #fff;
		border: 0px;
		padding: 7px;
	  	padding-left: 10px;
	  	padding-right: 10px;
	  	font-size: 19px;
		position: absolute;
		top: 22px;
		left: 22px;
		display: block;
		z-index: 10;
	}

	@include media-min-width(992px) {
		display: none!important;
	}

	&.toggle-close {
    	z-index: 100;
    	@include opacity(1);

    	.navbar-toggle-button {
		    top: 22px;
		    right: 22px;
		    left: auto;
		    padding: 7px;
		    padding-left: 10px;
		    padding-right: 10px;

		    @include opacity(0.82);
    	}
	}
}

.navbar-toggle-backcloth {

    background: #000;
    position: fixed;
    z-index: 99;
    bottom: 0px;
    top: 0px;
    left: 0px;

    &.transition {
    	@include transition(all, 0.5s, ease, 0s);
    }

    @include opacity(0.0);

    &.showed {
    	@include opacity(0.5);
    	right: 0px;
    }


    @include media-min-width(992px) {
		right: auto!important;
		@include opacity(0.0);

		&.showed {
			right: auto;
			@include opacity(0.0);
		}
	}
}